$back-ground : gray;

.content-group{
    width : 240px;
    height: 240px;
    background-color: $back-ground; 
}
.title-group{
     width : 200px;
     height: 56px;
}

.guide-group{
     width : 200px;
     height: 200px;
}